.text-label {
}

.image-show {
  height: 100px;
  width: 200px;
}

.rate {
  display: inline-block;
}

.rating {
  font-size: 30px;
  color: orange;
  display: inline-block;
}

.show-rooms{
    background-color: orange;
    color: white;
}